@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Karla:wght@300&family=Poppins:wght@300&display=swap");
.container_home {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", sans-serif;
  margin-top: 3rem;
  z-index: 10;
}
.container_home .search {
  display: flex;
  flex-direction: row;
  width: 50%;
  text-align: center;
  border: 2px solid rgb(14, 95, 201);
  border-radius: 25px;
  outline: none;
  overflow: hidden;

  & input {
    width: 96%;
    height: 2.4rem;
    outline: none;
    border: none;
    padding-left: 1rem;
    font-size: 1.3em;
  }
  & i {
    margin-top: 11px;
    margin-left: 8px;
  }
}
.blog_items {
  margin-top: 5rem;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 16rem));
  gap: 2rem;
  justify-content: center;
}
.footer {
  margin-top: 4rem;
  width: 100%;
  text-align: center;
  position: fixed;
  bottom: 0;
  border-top: 2px solid rgb(100, 100, 238);
  background-color: rgb(158, 158, 252);
}
@media screen and (max-width: 800px) {
  .blog_items {
    margin-top: 5rem;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(18rem, 16rem));
    gap: 2rem;
    justify-content: center;
  }
  .item {
    width: 40%;
    margin-left: 40px;
  }
  .container_home .search {
    width: 90%;
    & input {
      width: 90%;
    }
  }
}
@media screen and (max-width: 600px) {
  .item {
    width: 80%;
    margin-left: 35px;
    overflow: hidden;
  }
  .item img {
    width: 100%;
  }
  .footer {
    margin-top: 10rem;
  }
}
