.main__ {
  width: 100%;
  display: flex;
  flex-direction: column;
  & .top__ {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 3rem auto;
    padding: 1rem;
    & h1 {
      text-align: center;
      color: rgb(134, 11, 248);
    }
  }
  & .bottom__ {
    display: flex;
    flex-direction: column;
    & .blog_items__ {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(12rem, 16rem));
      gap: 2rem;
      justify-content: center;
      margin-bottom: 1rem;
      & .item__ {
        display: flex;
        flex-direction: column;
        box-shadow: 0px 2px 20px grey;
        border-radius: 10px;
        padding: 0.5rem;
        margin: 0.5rem auto;
        justify-content: space-evenly;
        & .image__ {
          width: 100%;
          & img {
            border-radius: 10px;
            width: 100%;
            height: 10rem;
            object-fit: cover;
          }
        }
        & .text2__ > h1 {
          text-align: center;
        }
      }
    }
  }
  .btn1__ {
    align-self: center;
    margin-bottom: 2rem;
    & button {
      border: none;
      border-radius: 20px;
      padding: 0.3rem 0.7rem;
      box-shadow: 0px 2px 20px grey;
      user-select: none;
      background-color: black;
      color: white;
      transition: all 100ms ease-in-out;
    }
    & button:hover {
      transform: scale(1.1);
    }
  }
}
